<template>
    <v-layout>
        <v-flex xs1></v-flex>
        <v-flex xs3 style="height:90vh;padding:10vh 0;">
            <img v-if="user.img == '' || user.img == undefined" src="../assets/no_photo.jpg" @click="change_photo = true" width="250vw" height="250vw" class="photo">
            <img v-else :src="user.img" @click="change_photo = true" class="photo">
            <span style="display:block;width:14vw;text-align:center;margin:auto;margin-top:3vh;font-size:200%;">{{ user.username }}</span>
            <v-btn @click="logout()" id="logout">Выйти</v-btn>
        </v-flex>
        <v-flex xs5 style="height:90vh;padding:6vh 0;">
            <v-card style="height:80vh;border:1px solid black;background:none;padding:5vh 1vw;background:whitesmoke;">
                <form action="/uploads" @submit.prevent="changeUsers()">
                <v-card-title>
                    <span class="headline" style="margin:auto;">Редактировать профиль</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                    <v-layout wrap>
                        <v-flex xs12>
                            <input id="change_user_pass" placeholder="Пароль" class="input_data" style="font-size:150%;margin-bottom:1vh;">
                        </v-flex>
                        <v-flex xs12>
                            <input id="change_user_name" placeholder="Имя" class="input_data" style="font-size:150%;margin-bottom:1vh;" :value="user.name">
                        </v-flex>
                        <v-flex xs12>
                            <input id="change_user_surname" placeholder="Фамилия" class="input_data" style="font-size:150%;margin-bottom:1vh;" :value="user.surname">
                        </v-flex>
                    </v-layout>
                    </v-container>
                </v-card-text>
                <v-spacer></v-spacer>
                <v-btn color="green" type="submit" style="display:block;height:auto;margin:auto;font-size:150%;padding:1vh 2vw;">Изменить</v-btn>
                </form>
            </v-card>
        </v-flex>

        <v-layout row justify-center>
            <v-dialog v-model="change_photo" persistent max-width="600px" style="user-select:none">
                <v-card>
                <form action="/uploads" @submit.prevent="changePhoto()">
                <v-card-title>
                    <span class="headline">Изменить фотографию</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                    <v-layout wrap>
                        <v-flex xs12>
                        <input ref="inFile" type="file" class="input_data">
                        </v-flex>
                    </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click="change_photo = false">Отмена</v-btn>
                    <v-btn color="red darken-1" flat @click="change_photo = false;deletePhoto()">Удалить</v-btn>
                    <v-btn color="green darken-1" flat @click="change_photo = false" type="submit">Изменить</v-btn>
                </v-card-actions>
                </form>
                </v-card>
            </v-dialog>
        </v-layout>
    </v-layout>
</template>

<script>
import {mapActions} from "vuex";
import { setTimeout } from 'timers';

export default {
    name: 'Account',
    data: () => ({
        change_photo: false
    }),
    computed: {
        user(){return this.$store.state.users.user}
    },
    methods: {
        ...mapActions(['getOneUser', 'addFile', 'changeUser']),
        logout(){
            localStorage.setItem('jwt', '')
            window.location.href = "http://192.168.1.118:8080/#/"
            window.location.reload()
        },
        changeUsers(){
            let article = JSON.parse(JSON.stringify(this.user))
            let p = false;
            if (change_user_pass.value != ''){
                article.password = change_user_pass.value
                p = true
            }
            if (change_user_name.value != ''){
                article.name = change_user_name.value
                p = true
            }
            if (change_user_surname.value != ''){
                article.surname = change_user_surname.value
                p = true
            }
            if (p) this.changeUser(article);
        },
        changePhoto(){
            let formData = new FormData()
            formData.append('image', this.$refs.inFile.files[0])
            this.addFile(formData).then(res => {
                let article = JSON.parse(JSON.stringify(this.user))
                article.img = res
                this.changeUser(article);
            })
        },
        deletePhoto(){
            let article = JSON.parse(JSON.stringify(this.user))
            article.img = ''
            this.changeUser(article);
        }
    },
    created(){
        this.getOneUser();
    }
}
</script>

<style>
#logout{
    display: block;
    margin: auto;
    margin-top: 5vh;
    padding: 0 3vw;
    font-size: 20px;
    background:rgb(255, 95, 95);
    color: rgb(25, 25, 25);
}
.photo{
    display: block;
    width: 14vw;
    height: 14vw;
    margin: auto;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    transition: 100ms;
}
.photo:hover{
    -webkit-box-shadow: 0px 0px 30px 0px rgba(100, 100, 100, 0.2);
    -moz-box-shadow: 0px 0px 30px 0px rgba(100, 100, 100, 0.2);
    box-shadow: 0px 0px 30px 0px rgba(100, 100, 100, 0.2); 
    transform: scale(1.005);
    cursor: pointer;
}
.input_data{
  width: 100%;
  outline: none;
  border-bottom: 1px solid gray;
  padding: 1vh 0vw;
  font-size: 1.1rem;
}
.input_data:focus{
  border-bottom: 1px solid black;
}
</style>
