<template>
  <section id="chats">
    <section id="chat_list">
      <input id="search" type="text" placeholder="Поиск" @click="openChat(-1);open_chat = -1">
      <v-btn icon dark color="indigo" style="position:relative;top:-0.2vh;left:0.2vw;" @click="add_chat = true">
        <v-icon dark>add</v-icon>
      </v-btn>
      <button class="chat_list_item" v-for="(i, index) in chats" :key="i" @click="open_chat = index;openChat(index)">
        <h3>{{ i.title }}</h3>
        <p>{{ i.last_message }}</p>
      </button>
    </section>
    <section id="messages">
      <div v-if="open_chat > -1" wrap>
        <div id="messagebar">
          <h1 style="display:inline-block;width:40vw;text-align:center;font-size:150%;position:relative;top:1vh;left:5.2vw;">{{ chats[open_chat].title }}</h1>
          <v-btn v-if="chats[open_chat].admin == user.username" style="position:absolute;right:5vw;" flat icon color="green" @click="getChat(open_chat)">
            <v-icon>cached</v-icon>
          </v-btn>
          <v-btn v-if="chats[open_chat].admin == user.username" style="position:absolute;right:3vw;" flat icon color="cyan" @click="edit_chat = true">
            <v-icon>edit</v-icon>
          </v-btn>
          <v-btn v-if="chats[open_chat].admin == user.username" style="position:absolute;right:1vw;" flat icon color="red" @click="delete_chat = true">
            <v-icon>delete</v-icon>
          </v-btn>
          <v-btn v-if="chats[open_chat].admin != user.username" style="position:absolute;right:1vw;" flat icon color="green" @click="getChat(open_chat)">
            <v-icon>cached</v-icon>
          </v-btn>
        </div>
        <div id="list_messages">
          <div v-for="i in chats[open_chat].messages" :key="i">
            <h4>{{ i.user }}</h4>
            <p>{{ i.text }}</p>
          </div>
        </div>
        <div>
          <textarea type="text" name="msg" id="msg_in" placeholder="Напишите сообщение..." style="resize:none;border:none;"></textarea>
          <hr id="msg_in_hr">
          <v-btn icon large dark color='blue' id="msg_send" @click="addMessages()">
            <v-icon style="position:relative;left:1.5px;">send</v-icon>
          </v-btn>
        </div>
      </div>
    </section>
    <v-layout row justify-center>
      <v-dialog v-model="delete_chat" max-width="400">
        <v-card>
          <v-card-title class="headline">Вы уверены, что хотите удалить данный чат?</v-card-title>
          <v-card-text>
            После удаления её нельзя будет вернуть!
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="delete_chat = false">Отмена</v-btn>
            <v-btn color="red darken-1" flat @click="deleteChat({id: open_chat, _id: chats[open_chat]._id});delete_chat = false">Удалить</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
    <v-layout row justify-center>
      <v-dialog v-model="edit_chat" persistent max-width="600px" style="user-select:none">
        <v-card>
          <v-card-title>
            <span class="headline">Редактировать чат</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-container grid-list-md v-if="edit_chat == true">
                <v-layout wrap>
                  <v-flex xs12>
                    <input id="change_chat_title" required placeholder="Название" class="input_data" style="position:relative;top:-2vh;" :value='chats[open_chat].title'>
                  </v-flex>
                  <v-flex xs4 style="position:relative;top:1.5vh;">
                    <span class="headline">Собеседники</span>
                  </v-flex>
                  <v-flex xs8 style="position:relative;top:calc(1.5vh - 5px);left:-1.5vw;">
                    <v-btn icon flat color="indigo" style="position:relative;top:-0.2vh;left:1vw;" @click="add_interlocutors_change()">
                      <v-icon dark>add</v-icon>
                    </v-btn>
                  </v-flex>
                  <v-flex xs12 id="list_interlocutors_in_change">
                    <input v-for="i in chats[open_chat].users" :key="i"  placeholder="Собеседник" class="input_data interlocutors_in_change" :value="i">
                  </v-flex>
                </v-layout>
              </v-container>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="edit_chat = false">Отмена</v-btn>
            <v-btn color="green darken-1" flat @click="changeChats(open_chat);edit_chat = false" onclick="">Изменить</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
    <v-layout row justify-center>
      <v-dialog v-model="add_chat" persistent max-width="600px" style="user-select:none">
        <v-card>
          <v-card-title>
            <span class="headline">Добавить чат</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <input id="add_chat_title" required placeholder="Название" class="input_data" style="position:relative;top:-2vh;">
                </v-flex>
                <v-flex xs4 style="position:relative;top:1.5vh;">
                  <span class="headline">Собеседники</span>
                </v-flex>
                <v-flex xs8 style="position:relative;top:calc(1.5vh - 5px);left:-1.5vw;">
                  <v-btn icon flat color="indigo" style="position:relative;top:-0.2vh;left:0.2vw;" @click="add_interlocutors()">
                    <v-icon dark>add</v-icon>
                  </v-btn>
                </v-flex>
                <v-flex xs12 id="list_interlocutors_in">
                  <input placeholder="Собеседник" class="input_data interlocutors_in">
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="add_chat = false;remove_interlocutors_in()">Отмена</v-btn>
            <v-btn color="green darken-1" flat @click="add_chat = false;addChats()">Добавить</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
  </section>
</template>

<script>
import {mapActions} from "vuex";

export default {
  name: 'Chats',
  data: () => ({
    open_chat: -1,
    add_chat: false,
    edit_chat: false,
    delete_chat: false,
    interlocutors: []
  }),
  computed: {
    chats(){return this.$store.state.chats.chats},
    user(){return this.$store.state.users.user},
    users(){return this.$store.state.users.users}
  },
  methods: {
    ...mapActions(['getChats', 'getChat', 'addChat', 'addMessage', 'changeChat', 'deleteChat', 'getUsers', 'getOneUser']),
    openChat(index){
      let list = document.body.getElementsByClassName('chat_list_item')
      for (let i = 0; i < list.length; ++i) list[i].classList.remove('chat_list_item_focus')
      if (index >= 0) list[index].classList.add('chat_list_item_focus')
    },
    add_interlocutors(){
      let listIn = document.body.getElementsByClassName('interlocutors_in')
      if (listIn[listIn.length - 1].value != ''){
        let newIn = document.createElement('input')
        newIn.placeholder = "Собеседник"
        newIn.classList.add('input_data')
        newIn.classList.add('interlocutors_in')
        list_interlocutors_in.appendChild(newIn)
      }
      else alert('Заполните предыдущее поле!')
    },
    add_interlocutors_change(){
      let listIn = document.body.getElementsByClassName('interlocutors_in_change')
      if (listIn[listIn.length - 1].value != ''){
        let newIn = document.createElement('input')
        newIn.placeholder = "Собеседник"
        newIn.classList.add('input_data')
        newIn.classList.add('interlocutors_in_change')
        list_interlocutors_in_change.appendChild(newIn)
      }
      else alert('Заполните предыдущее поле!')
    },
    addChats(){
      let list = document.body.getElementsByClassName('interlocutors_in')
      if (add_chat_title.value != '' && list[0].value != ''){
        let article = {
          title: add_chat_title.value,
          admin: this.user.username,
          users: [this.user.username]
        }
        for (let i = 0; i < list.length; ++i){
          article.users.push(list[i].value)
          list[i].value = ''
        }
        this.addChat(article);
        add_chat_title.value = ''
        this.open_chat += 1
      }
      else alert('Введите название или хотя бы одного собеседника')
    },
    changeChats(x){
      let list = document.body.getElementsByClassName('interlocutors_in_change')
      if (change_chat_title.value != '' && list[0].value != ''){
        let article = {
          id: x,
          chat: {
            _id: this.chats[x]._id,
            title: change_chat_title.value,
            admin: this.user.username,
            users: [],
            messages: this.chats[x].messages
          }
        }
        for (let i = 0; i < list.length; ++i) article.chat.users.push(list[i].value)
        this.changeChat(article);
      }
      else alert('Введите название или хотя бы одного собеседника')
    },
    addMessages(){
      if (msg_in.value != ''){
        let article = {
          _id: this.chats[this.open_chat]._id,
          id: this.open_chat,
          message: {
            user: this.user.username,
            text: msg_in.value
          }
        }
        msg_in.value=''
        this.addMessage(article);
      }
    }
  },
  mounted(){
    this.getChats();
  },
  created(){
    this.getUsers();
    this.getOneUser();
  }
}
</script>

<style lang="scss">
#chats{
  display: flex;
  align-items: flex-start;
  width: 70vw;
  height: 92vh;
  margin: auto;
  margin-top: 2vh;
  padding: 0;
  overflow: hidden;
}
#chat_list{
  display: inline-block;
  width: 15vw;
  margin: 0;
  margin-right: 0.5vw;
  padding: 0;
  #search{
    display: inline-block;
    width: 80%;
    padding: 1vh 0.5vw;
    background: rgb(240, 240, 240);
    margin-bottom: 1vh;
    transition: 300ms;
    outline: none;
  }
  .chat_list_item{
    width: 100%;
    height: 60px;
    padding: 1vh 1vw;
    background: rgb(240, 240, 240);
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    user-select: none;
    text-align: left;
    outline: none;
  }
  button:hover{
    background: rgb(220, 220, 220);
  }
  #search:focus{
    background: white;
  }
  .chat_list_item_focus{
    width: 120%;
    background: white;
  }
}
#messages{
  display: flex;
  width: 54.5vw;
  height: 91vh;
  padding: 5vh 2vw;
  background: white;
  align-items: flex-end;
  #msg_in{
    display: block;
    width: 35vw;
    height: 9vh;
    padding-top: 2vh;
    padding-left: 0.5vw;
    outline: none;
    position: absolute;
    bottom: 6.5vh;
    right: 26vw;
  }
  #msg_in_hr{
    width:35.5vw;
    height:2px;
    border:none;
    background-color: rgb(240, 240, 240);
    transition: 300ms;
    position: absolute;
    bottom: 5vh;
    right: 26vw;
  }
  #msg_in:focus ~ #msg_in_hr{
    background-color: steelblue;
  }
  #msg_send{
    display: block;
    position: absolute;
    bottom: 7.5vh;
    right: 22vw;
  }
  #list_messages{
    display: block;
    max-width: 50vw;
    max-height: 77vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    bottom: 15vh;
    left: 34vw;
  }
  #messagebar{
    display: block;
    width: 54.5vw;
    height: 7.5vh;
    padding: 1.5vh 2vw;
    border-bottom: 1px solid rgb(190, 190, 190);
    position: relative;
    top: -78.5vh;
    left: -2vw;
  }
}
.interlocutors_in .interlocutors_in_change{
  margin-bottom:1vh;
}
</style>
