<template>
    <v-layout align-center justify-center fill-height>
        <section id="loginForm">
            <h1 style="text-align:center;margin-bottom:5vh;">Вход</h1>
            <input id='name' v-model="username" type="text" placeholder="Username">
            <input id='pass' v-model="password" type="password" placeholder="Password">
            <v-layout justify-center><v-btn @click="log_in()" style="font-size:20px;margin-bottom:3vh;">Войти</v-btn></v-layout>
            <v-divider color='rgb(100, 100, 100)' style="margin-bottom:3vh;"></v-divider>
            <small><v-btn style="width:auto;height:auto;box-shadow:none;">Забыли пароль?</v-btn></small>
            <small><v-btn to='/reg' style="width:auto;height:auto;box-shadow:none;">Зарегистрироваться</v-btn></small>
        </section>
    </v-layout>
</template>

<script>
import {mapActions} from "vuex";

export default {
    name: 'Login',
    data: () => ({
        username: '',
        password: ''
    }),
    methods: {
        ...mapActions(['login']),
        log_in(){
            this.login({username: this.username, password: this.password});
        }
    }
}
</script>

<style lang="scss">
#loginForm{
    width: 60vw;
    padding: 50px;
    margin-top: 10vh;
    background: whitesmoke;
    border: 1px solid #000;
    border-radius: 15px;
    font-size: 20px;
    #name{
        width: 100%;
        padding: 10px;
        border: 1px solid rgb(100, 100, 100);
        margin-bottom: 3vh;
    }
    #pass{
        width: 100%;
        padding: 10px;
        border: 1px solid rgb(100, 100, 100);
        margin-bottom: 5vh;
    }
}
</style>

