<template>
  <section>
    <h1 style="text-align:center;position:relative;top:2vh;font-size:2rem;">Новости
    <v-btn flat icon color="green" @click="getNews">
      <v-icon>cached</v-icon>
    </v-btn>
    </h1>
    <v-btn v-if="jwt != ''" color="green" dark @click="add_news = true" style="display:block;margin:auto;margin-top:2vw;">Добавить новость</v-btn>
    <a v-else href="http://192.168.1.118:8080/#/login" style="display:block;text-align:center;margin-top:3.5vh;margin-bottom:-1.5vh;">Авторизируйтесь, чтобы работать с новостями</a>
    <section v-for="(i, index) in news" :key="i" class="news">
      <h2 style="position:absolute;left:21vw;">Создал: {{ i.user }}</h2>
      <h2>{{ i.title }}</h2>
      <v-divider></v-divider>
      <p>{{ i.text }}</p>
      <img v-if="i.img != ''" :src="i.img" alt="photo" style="max-width:90%">
      <v-layout justify-start row>
        <v-btn v-if="jwt != ''" dark color='red' @click='addLike(index, i.like, news)'>
          <v-icon left>thumb_up</v-icon>
          <span>{{ i.like }}</span>
        </v-btn>
        <v-btn v-if="jwt != ''" dark color='green' @click='addComment(index, i.comment, news)'>
          <v-icon left>chat</v-icon>
          <span>{{ i.comment }}</span>
        </v-btn>
        <v-btn v-if="jwt != ''" dark color='blue' @click='addShare(index, i.share, news)'>
          <v-icon left>share</v-icon>
          <span>{{ i.share }}</span>
        </v-btn>
        <v-btn v-if="i.user == user.username" icon dark color='cyan' @click="change_index = index;edit_news = true">
          <v-icon>edit</v-icon>
        </v-btn>
        <v-btn v-if="i.user == user.username" icon dark color='red' @click="delete_index = index;delete_news = true">
          <v-icon style="position:relative;left:0.5px;">delete</v-icon>
        </v-btn>
      </v-layout>
    </section>

    <v-layout row justify-center>
      <v-dialog v-model="delete_news" max-width="400">
        <v-card>
          <v-card-title class="headline">Вы уверены, что хотите удалить данную новость?</v-card-title>
          <v-card-text>
            После удаления её нельзя будет вернуть!
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="delete_news = false">Отмена</v-btn>
            <v-btn color="red darken-1" flat @click="deleteArticle(delete_index, news);delete_news = false">Удалить</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
    <v-layout row justify-center>
      <v-dialog v-model="edit_news" persistent max-width="600px" style="user-select:none">
        <v-card>
          <v-card-title>
            <span class="headline">Редактировать новость</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <input v-if="change_index > -1" id="edit_title" required placeholder="Название" class="input_data" style="position:relative;top:-2vh;" :value="news[change_index].title">
                </v-flex>
                <v-flex xs12>
                  <input v-if="change_index > -1" id="edit_text" required placeholder="Текст" class="input_data" :value="news[change_index].text">
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="edit_news = false">Отмена</v-btn>
            <v-btn color="green darken-1" flat @click="changeArticle(change_index, news);edit_news = false" onclick="">Изменить</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
    <v-layout row justify-center>
      <v-dialog v-model="add_news" persistent max-width="600px" style="user-select:none">
        <v-card>
          <form action="/uploads" @submit.prevent="addArticle(news)">
          <v-card-title>
            <span class="headline">Добавить новость</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <input id="add_title" required placeholder="Название" class="input_data" style="position:relative;top:-2vh;">
                </v-flex>
                <v-flex xs12>
                  <input id="add_text" required placeholder="Текст" class="input_data">
                </v-flex>
                <v-flex xs12>
                  <input ref="inFile" type="file" class="input_data">
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="add_news = false">Отмена</v-btn>
            <v-btn color="green darken-1" flat @click="add_news = false" type="submit">Добавить</v-btn>
          </v-card-actions>
          </form>
        </v-card>
      </v-dialog>
    </v-layout>
  </section>
</template>

<script>
import {mapActions} from "vuex";

export default {
  name: 'News',
  data: () => ({
    add_news: false,
    edit_news: false,
    delete_news: false,
    change_index: -1,
    delete_index: -1,
    jwt: localStorage.getItem('jwt')
  }),
  computed: {
    news(){return this.$store.state.news.news},
    user(){return this.$store.state.users.user}
  },
  methods: {
    ...mapActions(['addNews', 'getNews', 'changeNews', 'deleteNews', 'addFile', 'getOneUser']),
    addArticle(nw){
      if (add_title.value != '' && add_text.value != ''){
        let formData = new FormData()
        formData.append('image', this.$refs.inFile.files[0])
        this.addFile(formData).then(res => {
          let article = {
            title: add_title.value,
            text: add_text.value,
            img: res,
            like: 0,
            comment: 0,
            share: 0,
            user: this.user.username
          }
          this.addNews(article);
        }).catch(err => {
          let article = {
            title: add_title.value,
            text: add_text.value,
            img: '',
            like: 0,
            comment: 0,
            share: 0,
            user: this.user.username
          }
          this.addNews(article);
        })
      }
      else{
        alert('Пустая новость')
      }
    },
    changeArticle(id, nw){
      let article = {
        id: id,
        news: JSON.parse(JSON.stringify(nw[id]))
      }
      article.news.title = edit_title.value
      article.news.text = edit_text.value
      this.changeNews(article);
    },
    addLike(id, cl, nw){
      let article = {
        id: id,
        news: JSON.parse(JSON.stringify(nw[id]))
      }
      article.news.like = cl + 1
      this.changeNews(article);
    },
    addComment(id, cc, nw){
      let article = {
        id: id,
        news: JSON.parse(JSON.stringify(nw[id]))
      }
      article.news.comment = cc + 1
      this.changeNews(article);
    },
    addShare(id, cs, nw){
      let article = {
        id: id,
        news: JSON.parse(JSON.stringify(nw[id]))
      }
      article.news.share = cs + 1
      this.changeNews(article);
    },
    deleteArticle(id, nw){
      this.deleteNews({_id: nw[id]._id, id: id});
    }
  },
  created(){
    this.getOneUser();
    this.getNews();
  }
}
</script>

<style lang="scss">
.news{
  width: 60vw;
  padding: 20px;
  background: white;
  border-radius: 20px;
  margin: 4vh auto;
  text-align: center;
  h2{
    margin-bottom: 1vh;
  }
  p{
    margin: 3vh 2vw;
    text-align: left;
  }
  .layout{
    margin-top: 4vh;
  }
}
.input_data{
  width: 100%;
  outline: none;
  border-bottom: 1px solid gray;
  padding: 1vh 0vw;
  font-size: 1.1rem;
}
.input_data:focus{
  border-bottom: 1px solid black;
}
</style>
