<template>
  <!-- eslint-disable -->
  <section>
    <h1 style="text-align:center;position:relative;top:2vh;font-size:2rem;">
    </h1>
    <v-toolbar color="white" style="display:block;width:20vw;margin:auto;margin-top:2vh;">
      <v-toolbar-title>Магазин</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-badge left overlap color="red">
        <template v-slot:badge v-if="products_in_cart.length > 0">
          <span v-if="products_in_cart.length < 100">{{ products_in_cart.length }}</span>
          <span v-else style="transform:scale(0.8);">99+</span>
        </template>
        <v-btn flat icon color="green" @click="shopping_cart = true">
          <v-icon>shopping_cart</v-icon>
        </v-btn>
      </v-badge>
      <v-btn flat icon color="green" @click="getProducts">
        <v-icon>cached</v-icon>
      </v-btn>
      <v-btn v-if="jwt != ''" flat icon color="green" @click="add_product = true">
        <v-icon>add</v-icon>
      </v-btn>
      <v-btn flat icon color="green" @click="location_products = false" v-if="location_products">
        <v-icon>list</v-icon>
      </v-btn>
      <v-btn flat icon color="green" @click="location_products = true" v-else>
        <v-icon>apps</v-icon>
      </v-btn>
    </v-toolbar>
    
    <template v-if="location_products">
      <section id="products_list">
        <section v-for="(i, index) in products" :key="i" class="products_pos_false">
          <img v-if="i.img != ''" id="img_product" :src="i.img">
          <img v-else id="img_product" src="../assets/no_photo.jpg">
          <h2 style="margin-bottom:1vh;">{{ i.title }}</h2>
          <h1 style="font-size:2rem;margin-bottom:2vh;">{{ i.cost }}</h1>
          <v-btn v-if="jwt != ''" dark color='green' @click="add_item_to_cart(i)">
            Купить
          </v-btn>
          <v-btn v-if="i.admin == user.username" icon dark color='cyan' @click="change_index = index;edit_product = true">
            <v-icon>edit</v-icon>
          </v-btn>
          <v-btn v-if="i.admin == user.username" icon dark color='red' @click="delete_index = index;delete_product = true">
            <v-icon style="position:relative;left:0.5px;">delete</v-icon>
          </v-btn>
        </section>
      </section>
    </template>
    <template v-else>
      <section id="products_list">
        <section v-for="(i, index) in products" :key="i" class="products_pos_true">
          <div style="display:inline-block;margin-right:2vw;text-align:center;">
            <img v-if="i.img != ''" id="img_product" :src="i.img">
            <img v-else id="img_product" src="../assets/no_photo.jpg">
            <h1 style="margin-bottom:2vh;font-size:2rem;">{{ i.cost }}</h1>
            <v-btn v-if="jwt != ''" dark color='green' @click="add_item_to_cart(i)">
              Купить
            </v-btn>
            <v-btn v-if="i.admin == user.username" icon dark color='cyan' @click="change_index = index;edit_product = true">
              <v-icon>edit</v-icon>
            </v-btn>
            <v-btn v-if="i.admin == user.username" icon dark color='red' @click="delete_index = index;delete_product = true">
              <v-icon style="position:relative;right:0.5px;">delete</v-icon>
            </v-btn>
          </div>
          <div style="display:inline-block;width:43vw;overflow:hidden;">
            <h2 style="text-align:center;margin-bottom:2vh;">{{ i.title }}</h2>
            <p style="text-align:center;">{{ i.text }}</p>
          </div>
        </section>
      </section>
    </template>
    
    <v-layout row justify-center>
      <v-dialog v-model="shopping_cart" max-width="80vw">
        <v-card>
          <v-card-title class="headline">Корзина</v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 v-for="(i, index) in products_in_cart" :key="i">
                  <img v-if="i.img != ''" id="img_product_cart" :src="i.img">
                  <img v-else id="img_product_cart" src="../assets/no_photo.jpg">
                  <div style="display:inline-block;margin-top:1vh;">
                    <h1 style="margin-bottom:2vh;font-size:2rem;">{{ i.cost }}</h1>
                    <h2 style="text-align:center;margin-bottom:2vh;">{{ i.title }}</h2>
                  </div>
                  <p style="display:inline-block;text-align:center;vertical-align:top;margin:2vh 2vw;height:8vh;width:50vw;overflow:hidden;">{{ i.text }}</p>
                  <v-btn v-if="i.admin == user.username" icon dark color='red' @click="delete_item_to_cart(index)" style="position:relative;top:-4vh;">
                    <v-icon style="position:relative;right:0.5px;">remove</v-icon>
                  </v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="shopping_cart = false">Отмена</v-btn>
            <v-btn color="green darken-1" flat @click="alert('Сервис временно недоступен');shopping_cart = false">Купить</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
    <v-layout row justify-center>
      <v-dialog v-model="delete_product" max-width="400">
        <v-card>
          <v-card-title class="headline">Вы уверены, что хотите удалить данный продукт?</v-card-title>
          <v-card-text>
            После удаления его нельзя будет вернуть!
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="delete_product = false">Отмена</v-btn>
            <v-btn color="red darken-1" flat @click="deleteProducts(delete_index, products);delete_product = false">Удалить</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
    <v-layout row justify-center>
      <v-dialog v-model="edit_product" persistent max-width="600px" style="user-select:none">
        <v-card>
          <v-card-title>
            <span class="headline">Редактировать продукт</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <input id="edit_title" required placeholder="Название" class="input_data" style="position:relative;top:-2vh;">
                </v-flex>
                <v-flex xs12>
                  <input id="edit_text" required placeholder="Текст" class="input_data">
                </v-flex>
                <v-flex xs12>
                  <input id="edit_cost" required placeholder="Стоимость" class="input_data">
                </v-flex>
                <v-flex xs12>
                  <input id="edit_img" required placeholder="Фото(В разработке...)" class="input_data" disabled>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="edit_product = false">Отмена</v-btn>
            <v-btn color="green darken-1" flat @click="changeProducts(change_index, products);edit_product = false" onclick="">Изменить</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
    <v-layout row justify-center>
      <v-dialog v-model="add_product" persistent max-width="600px" style="user-select:none">
        <v-card>
          <v-card-title>
            <span class="headline">Добавить продукт</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <input id="add_title" required placeholder="Название" class="input_data" style="position:relative;top:-2vh;">
                </v-flex>
                <v-flex xs12>
                  <input id="add_text" required placeholder="Текст" class="input_data">
                </v-flex>
                <v-flex xs12>
                  <input id="add_cost" required placeholder="Стоимость" class="input_data">
                </v-flex>
                <v-flex xs12>
                  <input id="add_img" required placeholder="Фото(В разработке...)" class="input_data" disabled>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="add_product = false">Отмена</v-btn>
            <v-btn color="green darken-1" flat @click="addProducts();add_product = false">Добавить</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
  </section>
</template>

<script>
import { mapActions } from "vuex";

export default {
  /* eslint-disable */
  name: "Store",
  data: () => ({
    add_product: false,
    delete_product: false,
    edit_product: false,
    shopping_cart: false,
    location_products: true,
    delete_index: -1,
    change_index: -1,
    jwt: localStorage.getItem("jwt")
  }),
  computed: {
    products_in_cart() {
      return this.$store.state.store.shopping_cart;
    },
    products() {
      return this.$store.state.store.products;
    },
    user() {
      return this.$store.state.users.user;
    }
  },
  methods: {
    ...mapActions([
      "getOneUser",
      "addProduct",
      "getProducts",
      "changeProduct",
      "deleteProduct",
      "add_item_to_cart",
      "delete_item_to_cart"
    ]),
    addProducts() {
      if (
        add_title.value != "" &&
        add_text.value != "" &&
        add_cost.value != ""
      ) {
        let article = {
          title: add_title.value,
          text: add_text.value,
          img: "",
          cost: add_cost.value,
          admin: this.user.username
        };
        this.addProduct(article);
      } else {
        alert("Пустой продукт");
      }
    },
    changeProducts(id, st) {
      if (
        edit_title.value != "" &&
        edit_text.value != "" &&
        edit_cost.value != ""
      ) {
        let article = {
          id: id,
          product: st[id]
        };
        article.product.title = edit_title.value;
        article.product.text = edit_text.value;
        article.product.cost = edit_cost.value;
        this.changeProduct(article);
      } else {
        alert("Пустой продукт");
      }
    },
    deleteProducts(id, st) {
      this.deleteProduct({ _id: st[id]._id, id: id });
    }
  },
  mounted() {
    this.getProducts();
  },
  created() {
    this.getOneUser();
  }
};
</script>

<style lang="scss">
#products_list {
  display: block;
  width: 60vw;
  margin: auto;
  margin-top: 5vh;
  position: relative;
  left: 5px;
  .products_pos_true {
    display: flex;
    align-items: flex-start;
    width: 60vw;
    margin: 5vh 2.5vw;
    padding: 1.5vw;
    background: white;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 10px;
    transition: 200ms;
  }
  .products_pos_false {
    display: inline-block;
    width: 15vw;
    margin: 5vh 2.5vw;
    padding: 1.5vw;
    text-align: center;
    background: white;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 10px;
    transition: 200ms;
  }
  .products_pos_true:hover,
  .products_pos_false:hover {
    cursor: pointer;
    background: rgb(230, 230, 230);
  }
  #img_product {
    display: block;
    width: 12vw;
    height: 12vw;
    margin-bottom: 2vh;
    background: lightgray;
  }
}
#img_product_cart {
  display: block;
  width: 5vw;
  height: 5vw;
  margin-bottom: 2vh;
  margin-right: 2vw;
  background: lightgray;
  float: left;
}
</style>
