<template>
    <section style="background: lightgray;">
        <v-btn to='/'>Новости</v-btn>
        <v-btn v-if="jwt != ''" to='/chats'>Чат</v-btn>
        <v-btn to='/store'>Магазин</v-btn>
        <v-btn v-if="jwt == ''" to='/login' style="float:right;">Войти</v-btn>
        <v-btn v-else to='/account' style="float:right;">Личный кабинет</v-btn>
        <v-divider></v-divider>
    </section>
</template>

<script>
export default {
    name: "Header",
    data: () => ({
        jwt: localStorage.getItem('jwt')
    })
}
</script>

